<h1>Pricing Plans</h1>
<p>Try Collab for free or really get going with our Premium plan for only $2 per month.</p>
<div class="row">
      <div class="span6">
        <ul class="unstyled price-table">
        <li class="headline">Free</li>
        <li class="price">US $0</li>
        <li class="info">Try it out and upgrade later.</li>

        <li>Unlimited Projects</li>
        <li>Limited collaboration with premium users only</li>
        <li><%= link_to "Sign up now!", new_user_registration_path, class: "button" %></li>
        </ul>
      </div>
      <div class="span6">
        <ul class="unstyled price-table featured">
        <li class="headline">Premium</li>
        <li class="price">US $2 per month</li>
        <li class="info">Start collaboration today!</li>
        <li>Unlimited Projects</li>
        <li>Collaborate with anyone</li>
        <li><%= link_to "Sign up now!", new_user_registration_path, class: "button" %></li>
        </ul>
      </div>
    </div>