<h1>New Project</h1>

<div class="row">
  <div class="span-6">
    <p>Guidelines for new projects:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>
  </div>
  <%= render 'form' %>
</div>
